{
  "port": {{ app_port }},
  "db": {
    "user":     "{{ db_user }}",
    "host":     "{{ db_ip }}",
    "database": "{{ db_name }}",
    "password": "{{ db_password }}",
    "port":     {{ db_port }}
  }
}